@page "{id:int}"
@model EventPlanner.Pages.Eventos.DeleteModel
@{
    ViewData["Title"] = "Eliminar Evento";
}

<h1>Eliminar Evento</h1>

<h3>¿Está seguro que desea eliminar este evento?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evento.NombreEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Evento.NombreEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evento.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Evento.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evento.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Evento.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evento.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Evento.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evento.Ubicacion.NombreUbicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Evento.Ubicacion.NombreUbicacion)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Evento.IdEvento" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Volver a la Lista</a>
    </form>
</div>