@page "{id:int}"
@model EventPlanner.Pages.Ubicaciones.DeleteModel
@{
    ViewData["Title"] = "Eliminar Ubicación";
}

<h1>Eliminar Ubicación</h1>

<h3>¿Está seguro que desea eliminar esta ubicación?</h3>
<div>
    <h4>Ubicación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion.NombreUbicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion.NombreUbicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion.Capacidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion.Capacidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion.Direccion)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Ubicacion.IdUbicacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Volver a la Lista</a>
    </form>
</div>
